html,
body {
  padding: 0 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* My Set */
.box {
  padding: 16px;
  border: 4px solid #333;
  margin: 8px;
  border-radius: 16px;
}

/* Flexbox */
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}
.between {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.column {
  flex-direction: column;
}
